.header-bloc {
  height: 80px;
  border-bottom: solid 1px #e9ebeb;
}

.logo {
  height: 100%;
}

.restaurant {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-right: 30px;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: #868a8a;
  line-height: 1.5;
  padding-right: 30px;
}

.photo-restaurant {
  height: 30vh;
  border-radius: 20px;
  margin-right: 20px;
}

.restaurant {
  display: flex;
  align-items: center;
  padding: 20px;
}

.Menu {
  background-color: #f1f3f3;
  padding: 20px;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  padding: 20px;
}

.Item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  height: 160px;
  width: 34%;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}
h5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #868a8a;
  padding-bottom: 10px;
  overflow: scroll;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #868a8a;
}

.meals {
  display: flex;
  flex-wrap: wrap;
}

.item-img {
  border-radius: 20px;
  height: 140px;
  object-fit: scale-down;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.popular {
  color: orangered;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  padding-left: 25px;
}
